<h3>sbow view</h3>

<p>
<%= @post.title %>
</p>


<p>
<%= @post.body %>
</p>

<%= link_to "Edit post", edit_post_path %>
<%= link_to "Remove post", @post, data: {confirm: "Are you sure to delete this post?"}, :method => :delete %>
